<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EduSecure — {% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body { background: #f4f6f9; }
    .navbar-brand { font-weight: 700; letter-spacing: 1px; }
    .card { box-shadow: 0 2px 8px rgba(0,0,0,.08); }
    .badge-safe { background: #198754; }
    .badge-danger { background: #dc3545; }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">&#128274; EduSecure</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'submission_list' %}">Submissions</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'material_list' %}">Materials</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'my_grades' %}">My Grades</a></li>
          {% if user.role == 'lecturer' or user.role == 'admin' %}
            <li class="nav-item"><a class="nav-link" href="{% url 'list_assignments' %}">Assignments</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'all_submissions' %}">Grade Submissions</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'audit_log' %}">Audit Log</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="{% url 'mfa_setup' %}">MFA Setup</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout ({{ user.username }})</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {% for msg in messages %}
    {% if msg.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% else %}
      <div class="alert alert-{{ msg.tags|default:'info' }} alert-dismissible fade show" role="alert">
    {% endif %}
      {{ msg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endfor %}

  {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
